.card {
  max-width: 400px;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
}

.center-content {
  margin: 0 auto;
}

@media (min-width: 1280px) and (max-width: 1919.98px) {
  .card {
    max-width: 400px;
  }
}


