.menu-items {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigation-items {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: lightgray;
}

@media (max-width: 599px) {
  .menu-items {
    display: none;
  }
}

@media (min-width: 600px)  {
  .menu-toggle-button {
    display: none;
  }
}
